<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>

<p>Creator: <%= @event.creator.name %></p>

<p>Description: <%= @event.description %></p>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %></p>
<p>Attendees: <% @event.invitations.each do |invite| %>
  <%= invite.attendee.name %>
  <%= if invite.attending == true
        "is attending"
      elsif invite.attending == false
        "will not be attending"
      else
        "received the invitation but did not yet confirm attendance"
      end %>
  <%= "; "%>
  <% end %>
</p>
