<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<h2>Profile of: <%= @user.name %> </h2>
<p>Email: <%= @user.email %></p>

<div id="events_list">
  <p>Created events:</p>
  <ol>
    <% @user.created_events.each do |event| %>
    <li><p><%= event.description %> Date: <%= event.date %>, Location: <%= event.location%>.</p></li>
    <% end %>
  </ol>
<div>
